0xml01/step03/test07.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT projects (student*,project*)>
<!-- 속성의 타입(식별자)
NMTOKEN    CDATA와는 달리 XML 이름 짓는 규칙에 따라 값을 작성해야 한다.
-->

<!ELEMENT student EMPTY>
<!ATTLIST student
  name    NMTOKEN #REQUIRED
  gender  (man|woman|trans) "man"
  email   ID #REQUIRED
  tel     MNTOKENS #IMPLIED
>

<!ELEMENT project EMPTY>
<!ATTLIST project
  title CDATA #REQUIRED
  owner IDREF #REQUIRED
  members IDREFS #IMPLIED
  >
